.cart{
    &-cart{

        .cart-image{
            text-align: center;
            img{
           
                margin-top: 10%;
              
              
               
            }


        }

        li{
            font-size: 3rem;
            list-style: none;
            text-align: center;
            margin-top: 1rem;
        }
    }
}