
.footer {
    max-width: 100%;
    margin-top: 7rem;     
}

.box-cointaner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include tablet {
        display: block;
        
    }

    @include phone{
        display: block;
    }



    .box {
        padding: 2rem;
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;

       

        .click{
            margin-top: 2rem;
            font-size: 1.4rem;
            font-weight: 300;
            font-family: Arial, Helvetica, sans-serif;

        }

        h1 {
            font-size: 2rem;
            font-weight: 500;
            font-weight: bold;
        }

        h2 {
            font-size: 1.5rem;
            font-weight: 500;
            font-weight: bold;
        }

        h3 {
            margin-top: 2rem;
            font-size: 1.3rem;
            font-weight: 300;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }

        input {
            font-size: 1.5rem;
            margin-top: 2rem;
            border-bottom: 1px solid black;
            width: 90%;
        }

        i {
            font-size: 2rem;


        }

        p {
            margin-top: 2rem;
            font-size: 1.4rem;
            font-weight: 300;
            font-family: Arial, Helvetica, sans-serif;
        }

        a {
            font-size: 1.5rem;
            margin-top: 2rem;
            font-family: Arial, Helvetica, sans-serif;
            color: black;
            text-decoration: none;

            &:hover {
                color: skyblue;
            }

        }
        

        a~a {
            margin-left: 1rem;
        }



        img {
            margin-top: 1rem;
            width: 30%;
            height: 5rem;
            cursor: pointer;

        }

    }
}