@import "./mixin.scss";

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: none;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

.custom {
  width: 100%;
  max-width: 100%;
  // padding: 0 50px;
  margin: auto;
} 

.load-more{

  @include tablet{
    
    padding: 1rem;
    margin-left: 42%;
    width: auto;
  }

  @include phone{
    margin-left: 35%;
        
  }

  width: 8%;
  height: auto;
  border: 1px solid black;
  background-color: beige;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  text-align: center;
  margin-left: 45%;
  margin-top: 2rem;
  padding: 1rem;
  text-transform: none;

  &:hover{
    opacity: .8;
  }
 

}

::-webkit-scrollbar {
  width: .6rem;
}
::-webkit-scrollbar-thumb {
  background: silver;
  border-radius: .3rem;
}
::-webkit-scrollbar-track {
  background: #fff;
  border-radius: .3rem;
}



